:is(.transactions, .users) {
  padding: 1rem;
}

.transaction {
  border-radius: 0.3rem;
  cursor: pointer;
  transition: box-shadow 100ms ease-in-out;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  width: 100%;
}

.table :is(td, th) {
  padding: 0.5rem;
}
