.main {
  display: flex;
}

.main > * {
  flex: 1 0 50%;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }
}
