.usersHeaderContainer {
  margin-top: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.usersHeader {
  font-size: 2rem;
}

.usersHeader {
  margin: 0;
}

.form > input {
  font-size: 1rem;
  padding: 0.7rem 1rem;
  font-family: inherit;
  background-color: #1c1c1c;
  border: 1px solid white;
  border-radius: 0.5rem;
  transition: background-color 0.3s, border 0.3s;
}

.form > input:focus {
  background-color: #ccc;
  color: black;
  outline: none;
}

.form > input:hover {
  border: 1px solid rgb(203, 203, 203);
}

.form > input::placeholder {
  color: white;
}

.form > input:focus::placeholder {
  color: black;
}

.userSearch {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #2a2a2a;
}

.userSearch:focus {
  outline: none;
}

@media screen and (max-width: 400px) {
  .usersHeaderContainer {
    flex-direction: column;
  }

  .usersHeaderContainer > div {
    width: 100%;
  }

  .form {
    margin-top: 1rem;
  }

  .form > input {
    width: 100%;
  }
}
